* {
    transition: 0.4s cubic-bezier(0.5, 1, 0.89, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #e0e0e0;
}

:root {
    --clr-dropdown: #1C6758;
    --clr-nav-hover: #1E6F5C;
    --clr-dropdown-hov: #289672;
    --clr-dropdown-link-hov: #29BB89;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    z-index: 1000;
    height: 70px;
    margin: 30px 0px 0px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 5px lightgray inset, -5px -5px 5px white inset;
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
}

.nav-btn {
    margin-left: auto;
    column-gap: 12px;
    display: flex;
    align-items: center;
}

.mob-cat {
    display: none;
}

.multi-select {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    width: 100%;
    user-select: none;
    box-shadow: inset 2px 2px 5px #a0a0a0, inset -5px -5px 10px #ffffff;
}

.multi-select .multi-select-header {
    border: 1px solid #dee2e6;
    padding: 7px 30px 7px 12px;
    overflow: hidden;
    gap: 7px;
    min-height: 45px;
}

.multi-select .multi-select-header::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23949ba3' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    height: 12px;
    width: 12px;
}

.multi-select .multi-select-header.multi-select-header-active {
    border-color: #c1c9d0;
}

.multi-select .multi-select-header.multi-select-header-active::after {
    transform: translateY(-50%) rotate(180deg);
}

.multi-select .multi-select-header.multi-select-header-active+.multi-select-options {
    display: flex;
}

.multi-select .multi-select-header .multi-select-header-placeholder {
    color: #65727e;
}

.multi-select .multi-select-header .multi-select-header-option {
    display: inline-flex;
    align-items: center;
    background-color: #f3f4f7;
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 5px;
}

.multi-select .multi-select-header .multi-select-header-max {
    font-size: 14px;
    color: #65727e;
}

.multi-select .multi-select-options {
    display: none;
    box-sizing: border-box;
    flex-flow: wrap;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    margin-top: 5px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}


.multi-select .multi-select-options .multi-select-option,
.multi-select .multi-select-options .multi-select-all {
    padding: 4px 12px;
    height: 42px;
}

.multi-select .multi-select-options .multi-select-option .multi-select-option-radio,
.multi-select .multi-select-options .multi-select-all .multi-select-option-radio {
    margin-right: 14px;
    height: 16px;
    width: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.multi-select .multi-select-options .multi-select-option .multi-select-option-text,
.multi-select .multi-select-options .multi-select-all .multi-select-option-text {
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    font-size: 16px;
    line-height: 20px;
}

.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio {
    border-color: #40c979;
    background-color: #40c979;
}

.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio::after,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio::after {
    content: "";
    display: block;
    width: 3px;
    height: 7px;
    margin: 0.12em 0 0 0.27em;
    border: solid #fff;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-text,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-text {
    color: #40c979;
}

.multi-select .multi-select-options .multi-select-option:hover,
.multi-select .multi-select-options .multi-select-option:active,
.multi-select .multi-select-options .multi-select-all:hover,
.multi-select .multi-select-options .multi-select-all:active {
    background-color: #f3f4f7;
}

.multi-select .multi-select-options .multi-select-all {
    border-bottom: 1px solid #f1f3f5;
    border-radius: 0;
}

.multi-select .multi-select-options .multi-select-search {
    padding: 7px 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px 10px 5px 10px;
    width: 100%;
    outline: none;
    font-size: 16px;
}

.tabs_box::placeholder,
.art-board__container::placeholder,
.multi-select-header::placeholder,
.multi-select .multi-select-options .multi-select-search::placeholder {
    color: #b2b5b9 !important;
}

.tabs_box::-webkit-scrollbar,
.art-board__container::-webkit-scrollbar,
/* WebKit browsers (Chrome, Safari) */
.multi-select-header::-webkit-scrollbar,
.multi-select .multi-select-options::-webkit-scrollbar {
    height: 0;
    width: 4px !important;
}

.tabs_box::-webkit-scrollbar-thumb,
.art-board__container::-webkit-scrollbar-thumb,
.multi-select-header::-webkit-scrollbar-thumb,
.multi-select .multi-select-options::-webkit-scrollbar-thumb {
    background-color: #888 !important;
    border-radius: 4px !important;
}

.tabs_box::-webkit-scrollbar-track,
.art-board__container::-webkit-scrollbar-track,
.multi-select-header::-webkit-scrollbar-track,
.multi-select .multi-select-options::-webkit-scrollbar-track {
    background-color: #f0f0f0 !important;
    border-radius: 4px !important;
}


.multi-select .multi-select-header,
.multi-select .multi-select-option,
.multi-select .multi-select-all {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    font-size: 16px;
    color: #212529;
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: ellipsis;
}


.log-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo {
    position: relative;
    bottom: 20px;
    padding: 0 10px;
}

.logo span {
    font-weight: 300;
}

.btn {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: 1.1rem;
    border: 2px solid rgb(77 77 77);
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.transparent:hover {
    background-color: #FAFAFA;
    color: orangered;
}

.btn.transparent {
    color: orangered;
    background-color: #FAFAFA;
}

.btn.search-btn {
    color: black;

}

.btn.phone.open {
    padding: 8px 10px;
}

.btn.phone {
    padding: 8px;
    color: white;
    background-color: #25d366;
    border-color: #25d366;
}

.btn.search-btn.active {
    color: #FAFaFA;
    background-color: orangered;
    border-color: orangered;
}

.btn.solid {
    color: black;
}

.btn.solid:hover {
    color: #FAFaFA;
    background-color: orangered;
    border-color: orangered;
}

.btn.solid.active {
    color: #FAFaFA;
    background-color: orangered;
    border-color: orangered;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: orangered;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: orangered;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.checkbtn {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.art-board {
    width: 100%;
    border-radius: 20px;
}

.art-board__container {
    height: calc(100vh - 8rem);
    /* margin: 18px 0 18px 0; */
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: start;
    align-content: flex-start;
    align-items: center;
    background-color: #f5f5f5;
    /* padding: 10px; */
    border-radius: 10px;
    user-select: none;
    box-shadow: inset 0px 8px 16px 0px #b9b9b9
}

.card {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid lavender;
    margin: 20px 60px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
}

.card__image {
    /* position: relative;
    height: 200px; */
}


.card__image>img {
    max-width: 100%;
    width: 100%;
    /* border-bottom-right-radius: 30px; */
    /* transform: rotate(10deg) translate(-15px, -55px); */
    /* position: absolute; */
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.badge-area-show {
    position: absolute;
    z-index: 1;
}

.badge-flag-wrap {
    position: absolute;
    top: 6px;
    left: -10px;
}

.info {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.badge-flag-wrap::before {
    content: "";
    position: absolute;
    top: 35px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 0;
    border-color: transparent #d13902 transparent transparent;
}

.badge-flag {
    text-transform: capitalize;
    color: #ffffff;
    background: #d13902;
    box-shadow: 4px 4px 10px 2px rgb(76, 76, 85);
    letter-spacing: 0;
    width: max-content;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.card__info {
    /* padding: 10px 20px 10px 20px; */
    /* padding: 0px 10px; */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card__info h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0;
}

.card-info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info-title .desc {
    font-size: 12px;
}

.card__info--price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000099;
    flex-direction: row;
    padding: 0 8px;
    color: white;
}

.food-price {
    font-size: 16px;
    font-weight: 600;
    color: #51ff51;
}

.desc {
    cursor: pointer;
    font-size: 12px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    margin: 0px 0 20px 0;
    font-weight: 500;
    font-size: 14px;
    height: 30px;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}


.tag {
    display: inline-block;
    padding: 2px 8px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #51cf66;
    color: #fff;
    border-radius: 100px;
    font-weight: 600;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--nonveg {
    background-color: #f71919;
}

.heart {
    color: red;
    font-size: 16px !important;
}

.like-btn {
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    border-radius: 8px;
    cursor: pointer;
    margin: 7px 0;
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.btn-text {
    margin-left: 18px;
}

.heart {
    position: relative;
    float: left;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    top: 2px;
    left: 8px;
    width: 8px;
    height: 12px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}


.card.fade-in {
    opacity: 1;
    /* Fade in to fully visible */
}

.no-data-message {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    color: #555;
}

.finder {
    border: 1px solid #fff;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 3px;
    margin: 10px 0;
}

.finder__outer {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray inset, -5px -5px 5px white inset;
}

.finder__inner {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
}

.finder__form {
    flex: 1;
    height: calc(100% + 3rem);
}

.finder__input {
    height: calc(100% + 3rem);
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    letter-spacing: 0.75px;
}

.finder__icon {
    width: 31px;
    height: 30px;
    margin-right: 1rem;
    transition: all 0.2s;
    box-shadow: inset 0 0 0 20px #292929;
    border-radius: 50%;
    position: relative;
}

.finder__icon:after,
.finder__icon:before {
    display: block;
    content: "";
    position: absolute;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.finder__icon:after {
    width: 10px;
    height: 10px;
    background-color: #292929;
    border: 3px solid #f6f5f0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 0px;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.active .finder__icon:after {
    border-width: 6px;
    background-color: #f6f5f0;
}

.finder__icon:before {
    width: 4px;
    height: 16px;
    background-color: #f6f5f0;
    top: 50%;
    left: 15px;
    transform: rotateZ(45deg) translate(-50%, 0);
    transform-origin: 0 0;
    border-radius: 4px;
}

.active .finder__icon:before {
    background-color: #292929;
    width: 4px;
    transform: rotateZ(45deg) translate(-50%, 20px);
}

.processing .finder__icon {
    transform-origin: 50%;
    animation: spinner 0.3s linear infinite;
    animation-delay: 0.5s;
}

.active .finder__icon {
    transform: translateY(-5px);
    transform: translateX(4px);
}

@keyframes spinner {
    0% {
        transform: rotateZ(45deg);
    }

    100% {
        transform: rotateZ(405deg);
    }
}


.fab {
    position: fixed;
    bottom: 30px;
    right: 24px;
    text-align: center;
    z-index: 20;
}

.fab .trigger {
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    background: orangered;
    color: #fff;
    height: 60px;
    width: 60px;
    vertical-align: middle;
    animation: 1.5s linear 0s infinite normal pulse;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.fab .trigger:hover {
    transform: scale(1.1);
}

.fab.open .trigger .fa::before {
    content: "\f00d";
}

.fab .trigger .fa::after {
    transition: ease-in-out 1s;
}

.fab.open .trigger i {
    transition: all 0.4s ease;
    transform: translateY(5px) rotate(360deg);
}

.fab i {
    font-size: 28px;
    line-height: 58px;
}

.fab .actions {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.fab.open .actions {
    opacity: 1;
}

.fab .p-info {
    position: absolute;
    opacity: 0;
    transition: transform 0.4s ease;
    transition: all 0.4s ease;
    transform: translateY(-156px);
    right: 60px;
    width: 100%;
    height: auto;
}

.fab.open .p-info {
    opacity: 1;
    position: absolute;
    transition: transform 0.4s ease;
    transition: all 0.4s ease;
    transform: translateY(-186px);
    right: 60px;
    width: 40px;
    height: 40px;

}

.fab .p-phone a {
    position: absolute;
    top: 0;
    background: #fff;
    color: #333;
    height: 60px;
    width: 60px;
    line-height: 40px;
    transition: transform 0.4s ease;
    transform: translateY(50px);
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    right: -50px;
    opacity: 0.2s;
}

.fab.open .p-phone a {
    position: absolute;
    top: 0;
    background: #fff;
    color: #333;
    height: 60px;
    width: 60px;
    line-height: 40px;
    transition: transform 0.4s ease;
    transform: translateY(50px);
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition-delay: 0.2s;
}

.fab.open .p-phone a:hover {
    background: #25d366;
    color: white;
}

.fab .p-whatsapp a {
    position: absolute;
    opacity: 0;
    background: #fff;
    color: #333;
    height: 60px;
    width: 60px;
    line-height: 40px;
    transition: transform 0.4s ease;
    right: 80px;
    transform: translateY(50px);
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    right: -50px;
    transition-delay: 0.3s;
    transform-origin: right center 0;
}

.fab.open .p-whatsapp a {
    position: absolute;
    top: 0;
    opacity: 1;
    background: #fff;
    color: #333;
    height: 60px;
    width: 60px;
    line-height: 40px;
    transition: transform 0.4s ease;
    right: 80px;
    transform: translateY(50px);
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition-delay: 0.2s;
}

.fab.open .p-whatsapp a:hover {
    background: #25d366;
    color: white;

}

.fab .p-image {
    top: 100px;
    position: absolute;
    right: -65px;
    transition: all 0.4s ease;
    transition: transform 0.4s ease;
    border-radius: 50%;
}

.fab .p-image img {
    top: 0;
    position: absolute;
    right: 3px;
    transition: all 0.4s ease;
    border-radius: 50%;
    transform: translateY(20px);
}

.fab.open .p-image img {
    top: 0;
    position: absolute;
    right: 3px;
    transition: all 0.4s ease;
    border-radius: 50%;
    transform: translateY(-50px);
}

.fab .p-tooltip {
    position: absolute;
    right: 0;
    transition-delay: 0.3s;
    transform-origin: right center 0;
    transition: all 0.8s ease;
    transform: translateY(50%) scale(0);
    top: 0;
    right: -50px;
    width: 25vw;
    line-height: 5px;
    border-radius: 25px;
}

.fab.open .p-tooltip {
    right: 25px;
    font-size: 16px;
    line-height: 5px;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 40vw;
    height: 55px;
    border-radius: 25px;
    padding: 0 10px;
    transform: translateY(52px);
    transition-delay: 0.3s;
}

.fab .p-tooltip p {
    font-size: 16px;
    font-weight: bold;
}

.fab.open .p-tooltip p {
    font-size: 16px;
    font-weight: bold;
}



.fab .actions .p-info:nth-child(1) {
    transform: translateY(-190px)
}

.fab .actions .p-info:nth-child(2) {
    transform: translateY(-260px)
}

.fab .actions .p-info:nth-child(3) {
    transform: translateY(-330px)
}

.fab .actions .p-info:nth-child(4) {
    transform: translateY(-400px)
}

.fab .actions .p-info:nth-child(5) {
    transform: translateY(-470px)
}

.fab .actions .p-info:nth-child(6) {
    transform: translateY(-540px)
}

/* Animations */
@keyframes pulse {
    0% {
        box-shadow: 0px 1px 0px 3px orangered, 0px 0px 0px 0px orangered;
    }

    30% {
        box-shadow: 0px 1px 0px 3px orangered, 0px 0px 0px 5px rgba(255, 68, 0, 0.63);
    }

    70% {
        box-shadow: 0px 1px 0px 3px orangered, 0px 0px 0px 15px rgba(255, 68, 0, 0.342);
    }

    100% {
        box-shadow: 1px 1px 2px 1px orangered, 0px 0px 0px 20px transparent;
    }
}

.search-bar {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.search-bar.show {
    display: block;
    opacity: 1;
}

.services {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services>* {
    flex-grow: 1;
}

.circle--rotate {
    border-radius: 50%;
    width: 43%;
    height: 43%;
    margin: 0 auto 0;
    position: relative;
    transform: rotate(0deg);
    z-index: 0;
    padding: 0;
}

.circle--rotate>li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
}

.circle--rotate>li .icon {
    visibility: visible;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #000000;
    height: 10%;
    width: 10%;
    margin: -5% auto;
    transition: all 500ms ease;
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.2);
}

.circle--rotate>li i {
    color: white;
    font-size: 30px;
    margin: auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: table;
}

.circle--rotate>li i::before {
    display: table-cell;
    vertical-align: middle;
}

.circle--rotate>li img {
    margin: auto;
}

.circle--slider {
    position: relative;
}

.circle--slider .rotate--circle {
    margin: 0 auto;
}

.circle--slider .circle--rotate>li div {
    position: relative;
    overflow: visible;
    background-color: transparent;
}

.circle--slider .circle--rotate>li div span {
    transform: rotate(0deg);
    transition: all 2s;
    opacity: 0;
}

.circle--slider .circle--rotate>li.active div {
    font-size: 20px;
    transition: all 1s;
}

.circle--slider .count2 li:nth-child(2) {
    transform: rotate(180deg);
}

.circle--slider .count3 li:nth-child(2) {
    transform: rotate(120deg);
}

.circle--slider .count3 li:nth-child(3) {
    transform: rotate(240deg);
}

.circle--slider .count4 li:nth-child(2) {
    transform: rotate(90deg);
}

.circle--slider .count4 li:nth-child(3) {
    transform: rotate(180deg);
}

.circle--slider .count4 li:nth-child(4) {
    transform: rotate(270deg);
}

.circle--slider .count5 li:nth-child(2) {
    transform: rotate(72deg);
}

.circle--slider .count5 li:nth-child(3) {
    transform: rotate(144deg);
}

.circle--slider .count5 li:nth-child(4) {
    transform: rotate(216deg);
}

.circle--slider .count5 li:nth-child(5) {
    transform: rotate(-72deg);
}

.circle--slider .count6 li:nth-child(2) {
    transform: rotate(60deg);
}

.circle--slider .count6 li:nth-child(3) {
    transform: rotate(120deg);
}

.circle--slider .count6 li:nth-child(4) {
    transform: rotate(180deg);
}

.circle--slider .count6 li:nth-child(5) {
    transform: rotate(240deg);
}

.circle--slider .count6 li:nth-child(6) {
    transform: rotate(-60deg);
}

.circle--slider .count7 li:nth-child(2) {
    transform: rotate(51.5deg);
}

.circle--slider .count7 li:nth-child(3) {
    transform: rotate(103deg);
}

.circle--slider .count7 li:nth-child(4) {
    transform: rotate(154.5deg);
}

.circle--slider .count7 li:nth-child(5) {
    transform: rotate(206deg);
}

.circle--slider .count7 li:nth-child(6) {
    transform: rotate(-103deg);
}

.circle--slider .count7 li:nth-child(7) {
    transform: rotate(-51.5deg);
}

.circle--slider .count8 li:nth-child(2) {
    transform: rotate(45deg);
}

.circle--slider .count8 li:nth-child(3) {
    transform: rotate(90deg);
}

.circle--slider .count8 li:nth-child(4) {
    transform: rotate(135deg);
}

.circle--slider .count8 li:nth-child(5) {
    transform: rotate(180deg);
}

.circle--slider .count8 li:nth-child(6) {
    transform: rotate(-135deg);
}

.circle--slider .count8 li:nth-child(7) {
    transform: rotate(-90deg);
}

.circle--slider .count8 li:nth-child(8) {
    transform: rotate(-45deg);
}

.circle--slider .count9 li:nth-child(2) {
    transform: rotate(40deg);
}

.circle--slider .count9 li:nth-child(3) {
    transform: rotate(80deg);
}

.circle--slider .count9 li:nth-child(4) {
    transform: rotate(120deg);
}

.circle--slider .count9 li:nth-child(5) {
    transform: rotate(160deg);
}

.circle--slider .count9 li:nth-child(6) {
    transform: rotate(-160deg);
}

.circle--slider .count9 li:nth-child(7) {
    transform: rotate(-120deg);
}

.circle--slider .count9 li:nth-child(8) {
    transform: rotate(-80deg);
}

.circle--slider .count9 li:nth-child(9) {
    transform: rotate(-40deg);
}

.circle--slider .count10 li:nth-child(2) {
    transform: rotate(36deg);
}

.circle--slider .count10 li:nth-child(3) {
    transform: rotate(72deg);
}

.circle--slider .count10 li:nth-child(4) {
    transform: rotate(108deg);
}

.circle--slider .count10 li:nth-child(5) {
    transform: rotate(144deg);
}

.circle--slider .count10 li:nth-child(6) {
    transform: rotate(-180deg);
}

.circle--slider .count10 li:nth-child(7) {
    transform: rotate(-144deg);
}

.circle--slider .count10 li:nth-child(8) {
    transform: rotate(-108deg);
}

.circle--slider .count10 li:nth-child(9) {
    transform: rotate(-72deg);
}

.circle--slider .count10 li:nth-child(10) {
    transform: rotate(-36deg);
}

.circle--slider .animate-wrapper {
    width: 25%;
    height: 25%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.circle--slider .animate-title {
    color: #000;
    background-color: #FFF;
}

.circle--slider .animate-img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    overflow: hidden;
}

.circle--slider .animate-img .animate-img__in {
    position: absolute;
    border: 8px solid white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    z-index: 3;
    transform: rotate3d(0, 0, 0, 0deg) scale(0.85);
    transition: 0.55s ease-in-out;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.3);
}

.circle--slider .animate-more {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s 0.4s;
    min-width: 131px;
    overflow: hidden;
    text-align: center;
    z-index: 30;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 15px;
    height: 62px;
    transform: scale(0.8);
}

.circle--slider .animate.active .animate-more {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.circle--slider .animate.active .animate-img .animate-img__in {
    opacity: 1;
    transform: scale(1);
}

.form-wrap {
    max-width: 330px;
    width: 100%;
    position: fixed;
    top: 25%;
    left: 0;
    transform: translateX(-330px);
    transition: 0.4s;
    z-index: 9999;
}

.form-wrap:hover {
    transform: translateX(0);
}

#form-title {
    display: none;
}

#form-title:checked+.form-wrap {
    transform: translateY(0);
}

.form-title {
    display: block;
    width: 30px;
    height: 120px;
    padding: 13px 0;
    opacity: .8;
    background-color: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: 100%;
    transform: translateY(50%) rotate(0deg);
    transform-origin: left center;
}

.form-wrap:hover .form-title {
    opacity: 1;
}

.form-title:hover {
    opacity: 1;
}


.form {
    display: block;
    width: 330px;
    height: auto;
    padding: 32px;
    background-color: #383838;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 3px 3px 5px #BABECC, -5px -5px 10px #FFF; */
}

.form__field {
    display: grid;
    gap: 24px;
    margin-bottom: 32px;
}

.input-group {
    width: 100%;
    height: auto;
}

.input-group__label {
    display: block;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #61677C;
    text-shadow: 1px 1px 0 #FFF;
    margin-bottom: 8px;
}

.input-group__input {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #FFF;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px #000000, inset -5px -5px 10px #535353;
    transition: all 0.2s ease-in-out;
}

.input-group__input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.button {
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.07em;
    padding: 8px 20px;
    border: 0;
    border-radius: 30px;
    box-shadow: inset 2px 2px 5px #000000, inset -2px -2px 0px #4b4b4b;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.button:active {
    box-shadow: inset 2px 2px 3px #BABECC, inset -2px -2px 3px #FFF;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("https://i.ibb.co/4KX2b7s/4H5A7050.jpg");
    z-index: 99999;
}

.loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 65%);
    z-index: 1;
}

.loader>* {
    position: relative;
    z-index: 2;
}

.close {
    color: #aaa;
    font-size: 28px;
    position: absolute;
    top: 5px;
    right: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.veg-badge-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #51ff51;
    height: 16px;
    width: 16px;
    margin: 0 5px -3px 0;
}

.non-veg-badge-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff0000;
    height: 16px;
    width: 16px;
    margin: 0 5px -3px 0;
}
.price-container {
    display: flex;
    color: white;
    
}

.veg-price {
    color: #51ff51;
    font-size: 16px;
    font-weight: 600;
}

.non-veg-price {
    color: #ff0000;
    font-size: 16px;
    font-weight: 600;
}

.circle {
    position: absolute;
    background-color: #51ff51;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #ff0000;
}

/* Begin float */

.fab-call {
    display: flex;
    height: 35px;
    text-align: center;
    width: 35px;
    background: #25d366;
    border-radius: 100%;
    /* line-height: 0; */
    padding: 4px;
    align-items: center;
    margin-right: 6px;
    justify-content: center;
}

.fab-call .trigger {
    border-radius: 50%;
    position: relative;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.fab-call .trigger:hover {
    transform: scale(1.1);
}

.fab-call.open .trigger .fa::before {
    content: "\f00d";
}

.fab-call .trigger .fa::after {
    transition: ease-in-out 1s;
}

.fab.open .trigger i {
    transition: all 0.4s ease;
    transform: translateY(5px) rotate(360deg);
}

.fab-call .actions {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.fab-call.open .actions {
    opacity: 1;
}

.fab-call .p-info {
    position: absolute;
    opacity: 0;
    transition: transform 0.4s ease;
    transition: all 0.4s ease;
    transform: translateY(-156px);
    right: 60px;
    width: 100%;
    height: auto;
}

.fab-call.open .p-info {
    opacity: 1;
    position: absolute;
    transition: transform 0.4s ease;
    transition: all 0.4s ease;
    transform: translateY(-186px);
    right: 55px;
    width: 40px;
    height: 40px;

}

.fab-call .p-phone a {
    position: absolute;
    top: 0;
    background: #fff;
    color: #333;
    height: 60px;
    display: none;
    width: 60px;
    line-height: 40px;
    transition: transform 0.4s ease;
    transform: translateY(50px);
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    right: -50px;
}

.fab-call.open .p-phone a {
    position: absolute;
    top: 0;
    background: #25d366;
    color: #fff;
    height: 38px;
    width: 38px;
    line-height: 38px;
    transition: transform 0.4s ease;
    transform: translateY(50px);
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: inline-block;
    transition-delay: 0.2s;
}


.fab-call.open .p-phone a:hover {
    background: #25d366;
    color: white;
}

.fab-call .p-whatsapp a {
    position: absolute;
    opacity: 0;
    background: #fff;
    color: #333;
    height: 60px;
    width: 60px;
    line-height: 40px;
    transition: transform 0.4s ease;
    right: 80px;
    transform: translateY(50px);
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    right: -50px;
    transition-delay: 0.3s;
    transform-origin: right center 0;
}

.fab-call.open .p-whatsapp a {
    position: absolute;
    top: 0;
    opacity: 1;
    background: #fff;
    color: #333;
    height: 60px;
    width: 60px;
    line-height: 40px;
    transition: transform 0.4s ease;
    right: 80px;
    transform: translateY(50px);
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    transition-delay: 0.2s;
}

.fab-call.open .p-whatsapp a:hover {
    background: #25d366;
    color: white;

}

.fab-call .p-image {
    top: 100px;
    position: absolute;
    right: -65px;
    transition: all 0.4s ease;
    transition: transform 0.4s ease;
    border-radius: 50%;
}

.fab-call .p-image img {
    top: 0;
    position: absolute;
    right: 3px;
    transition: all 0.4s ease;
    border-radius: 50%;
    transform: translateY(20px);
}

.fab-call.open .p-image img {
    top: 0;
    position: absolute;
    right: 3px;
    transition: all 0.4s ease;
    border-radius: 50%;
    transform: translateY(-50px);
}

.fab-call .p-tooltip {
    position: absolute;
    right: 0;
    transition-delay: 0.3s;
    transform-origin: right center 0;
    transition: all 0.8s ease;
    transform: translateY(50%) scale(0);
    top: 0;
    right: -50px;
    width: 25vw;
    line-height: 5px;
    border-radius: 25px;
}

.fab-call.open .p-tooltip {
    right: -5px;
    font-size: 12px;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 25vw;
    color: #000;
    border-radius: 25px;
    transform: translateY(48px);
    transition-delay: 0.3s;
}

.fab-call.open .p-tooltip .contact-number {
    margin-bottom: 6px;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    margin-top: -4px;
}

.fab-call .p-tooltip p {
    font-size: 16px;
    font-weight: bold;
}

.fab-call.open .p-tooltip p {
    font-size: 16px;
    margin: 14px;
    font-weight: bold;
}


.fab-call .actions .p-info:nth-child(1) {
    transform: translateY(-25px)
}

.fab-call .actions .p-info:nth-child(2) {
    transform: translateY(-240px)
}

.fab-call .actions .p-info:nth-child(3) {
    transform: translateY(-310px)
}


/* Animations */
@keyframes pulse {
    0% {
        box-shadow: 0px 1px 0px 3px #ab1a1a30, 0px 0px 0px 0px #ef242450;
    }

    30% {
        box-shadow: 0px 1px 0px 3px #ab1a1a30, 0px 0px 0px 5px #ef242450;
    }

    70% {
        box-shadow: 0px 1px 0px 3px #ab1a1a30, 0px 0px 0px 15px #ef242410;
    }

    100% {
        box-shadow: 1px 1px 2px 1px #ab1a1a30, 0px 0px 0px 20px transparent;
    }
}

.dicount-mobile {
    display: none;
}

/* .card-price-custom .meal-tags {
    display: none;
} */
.wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 50px;
    overflow-x: hidden;
    box-shadow: 2px 2px 2px lightgray inset, -2px -2px 2px lightgray inset;
}

.tabs_box {
    overflow-x: scroll;
}

.tab-container {
    position: relative;
    display: flex;
    gap: 10px;
}

.tab-button {
    padding: 10px 20px;
    /* Adjust padding for better fit */
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-weight: bold;
    white-space: nowrap;
    /* Prevent text wrapping */
}

.tab-button.active {
    color: #FFF;
    background-color: transparent;
}

.tab-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    background-color: orangered;
    transition: width 0.3s, left 0.3s;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .tab-button {
        font-size: 12px;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .tab-button {
        font-size: 12px;
        padding: 12px 10px;
    }
}

@media (max-width: 920px) {
    .art-board__container {
        align-items: start;
    }

    /* .badge-area-show {
        display: none;
    } */

    .dicount-mobile {
        display: block;
    }

    .card__info h3 {
        font-size: 15px;
    }

    .card__info--price {
        background-color: #00000099;
        flex-direction: row;
        color: white;
        padding: 0 18px;
        align-items: center;
        justify-content: space-between;
    }

    /* .card__image {
        min-width: 30%;
        height: auto;
    } */

    /* .card__image>img {
        /* height: 130px; */
}

*/ .multi-select .multi-select-header,
.multi-select .multi-select-option,
.multi-select .multi-select-all {
    max-width: 100%;
}

.multi-select .multi-select-header::after {
    right: 8px;
}

.multi-select {
    margin: 10px auto;
    border-radius: 10px;
}

.nav-btn {
    display: none;
}

.mob-cat {
    display: block;
}

.art-board__container {
    height: calc(100vh - 12rem);
    justify-content: center !important;
}

.card {
    /* height: 130px;
        display: flex;
        align-items: center; */
    margin: 10px !important;
    position: relative;
}

.nav-search {
    display: none;
}

.hamburger-menu-container {
    display: flex;
}

#check {
    display: block !important;
}

.log-sign {
    flex: auto;
    align-self: self-start;
    align-items: baseline;
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
}

.finder__icon {
    height: 28px;
    width: 30px;
}

.card-price-custom {
    margin: 10px 0;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

/* .card-price-custom .meal-tags {
        display: block;
        margin-left: auto;
    } */

.desc {
    padding-left: 0;
}


@media (max-width: 767px) {
    .art-board__container {
        height: calc(100vh - 14rem);
        display: block;
    }

    .fab-call.open .p-tooltip {
        width: 50vw;
    }

    .multiselect {
        max-width: 100%;
    }

    .multiselect>.select-box {
        max-width: 100%;
    }

    .finder__icon {
        height: 28px;
        width: 31px;
    }

    .desc {
        font-size: 13px;
        height: 30px;
        line-height: 1.3
    }

    .popup-content {
        width: 90vw;
    }

    .card {
        width: auto;
        margin: 6px 6px !important;
    }

    .circle--slider .animate.active .animate-img .animate-img__in {
        transform: scale(2);
        border: 4px solid white;
    }

    .circle--rotate>li .icon {
        margin: -16% auto;
    }

    .circle--rotate>li i {
        font-size: 40px;
    }
}

@media (min-width: 768px) and (max-width: 920px) {

    .pop up-content {
        width: 90vw;
    }

    .multiselect>.select-box {
        max-width: 100%;
    }

    .multiselect {
        max-width: 100%;
    }

    .desc {
        height: 38px;
        line-height: 1.3;
    }

    .circle--slider .animate.active .animate-img .animate-img__in {
        transform: scale(1.5);
    }
}

.fab-action {
    display: none;
}

html.modal-active,
body.modal-active {
    overflow: hidden;
}

#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 9999;
}

#modal-container.two {
    transform: scale(1);
}

#modal-container.two .modal-background {
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two .modal-background .modal {
    opacity: 1;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two+.content {
    animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.two.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out .modal-background .modal {
    animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.two.out+.content {
    animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}

#modal-container .modal-background .modal {
    background: white;
    display: inline-block;
    border-radius: 10px;
    font-weight: 300;
    position: relative;
}

#modal-container .modal-background .modal p {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    color: grey;
}

#modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
}

.popup-title {
    padding: 10px;
    margin: auto;
    font-size: 24px;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: orangered;
    color: white;
    border-bottom: 2px solid gainsboro;
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }

    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }

    100% {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }

    100% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
}

@keyframes scaleBack {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.85);
    }
}

@keyframes scaleForward {
    0% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }

    99.9% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes blowUpContent {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    99.9% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(0);
    }
}

@keyframes blowUpContentTwo {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes blowUpModal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes blowUpModalTwo {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}